@model IEnumerable<BlogMVC.Models.CateProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>MANAGEMENT CATEPRODUCTS</h2>

<p>
    <a asp-action="Create">CREATE NEW</a>
</p>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        THUMB
                                    </th>
                                    <th>
                                        CAT NAME
                                    </th>
                                    <th>
                                        TITLE
                                    </th>
                                    <th>
                                        Published
                                    </th>
                                    <th>FUNCTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/ThumpCates/@item.Thumb" style="width:50px;" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatName)
                                        </td>
                                        <td>@item.Title</td>
                                        <td>
                                            @if (item.Published == true)
                                            {
                                                <span class="badge badge-primary">Public</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary">NON-Public</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCatePro">Update</a>
                                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdCatePro">Detail</a>
                                            <a class="btn btn-danger delete" data-id="@item.IdCatePro">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Full" asp-action="Index" asp-controller="Categories" asp-area="Admin" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.js"></script>
    <script type="text/javascript">

        $('.delete').click(function () {
            var idPost = $(this).attr("data-id");
            var tb = confirm("You really want to delete !");
            if (tb) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","News")",
                    dataType: "json",
                    data: {
                        id: idPost
                    }
                }).done(function (reponse) {
                    alert("Delete Success");
                    location.reload();
                }).fail(function () {
                    alert("ERROR, Vui lòng quay lại sau")
                })
            }
        })

    </script>
}

