@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<BlogMVC.Models.Category>

@{
    ViewData["Title"] = "QUẢN LÝ DANH MỤC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>QUẢN LÝ QUYỀN TRUY CẬP</h2>

<p>
    <a asp-action="Create">TẠO MỚI</a>
</p>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Cat Name
                                    </th>
                                    <th>
                                        Thumb
                                    <th>
                                        Published
                                    </th>
                                    <th>
                                        Ordering
                                    </th>
                                    <th>
                                        Icon
                                    </th>
                                    <th>
                                        Cover
                                    </th>
                                    </th>
                                    <th>CHỨC NĂNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CatName)
                                        </td>
                                        <td>
                                            <img src="~/images/@item.Thumb" style="width:50px;" />
                                        </td>
                                        <td>
                                            @if (item.Published == true)
                                            {
                                                <span class="badge badge-primary">Public</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary">NON-Public</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ordering)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Icon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cover)
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CaId">Cập Nhật</a>
                                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CaId">Xem</a>
                                            <a class="btn btn-danger delete" data-id="@item.CaId">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Full" asp-action="Index" asp-controller="Categories" asp-area="Admin" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.js"></script>
    <script type="text/javascript">

        $('.delete').click(function () {
            var idCate = $(this).attr("data-id");
            var tb = confirm("You really want to delete !");
            if (tb) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete","Categories")",
                    dataType: "json",
                    data: {
                        id: idCate
                    }
                }).done(function (reponse) {
                    alert("Delete Success");
                    location.reload();
                }).fail(function () {
                    alert("ERROR")
                })
            }
        })

    </script>
}

