@model BlogMVC.ModelViews.CheckOutViewModel

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <form asp-controller="Products" asp-action="CheckOut" method="post">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Customer Name</label>
                            <input class="form-control" type="text" asp-for="@Model.Order.CustomerName" placeholder="Customer Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" asp-for="@Model.Order.CustomerEmail" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" asp-for="@Model.Order.CustomerPhone" placeholder="+84 12345678">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" asp-for="@Model.Order.CustomerAddress" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <select class="form-control" asp-for="@Model.Order.IdPay" asp-items="@ViewBag.PaymentType" required>
                                <option value="0" selected style="text-align:center">DANH MỤC</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Note</label>
                            <textarea class="form-control" type="text" asp-for="@Model.Order.Note" placeholder="some thing..."></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Detail</h4>
                    </div>
                    @if (Model.Cart != null)
                    {
                        @foreach (var item in Model.Cart.Lines)
                        {
                            <div class="card-body">
                                <h5 class="font-weight-medium mb-3">@item.Product.NameProduct</h5>
                                <div class="d-flex justify-content-between">
                                    <p>@item.Color</p>
                                    <p>@item.Size</p>
                                    <p>@((item.Product.Discount).Value.ToString("#,##0")) VNĐ</p>
                                </div>
                                <hr class="mt-0">
                                <div class="d-flex justify-content-between mb-3 pt-1">
                                    <h6 class="font-weight-medium">Subtotal</h6>
                                    <h6 class="font-weight-medium">@((item.Product.Discount * item.Quantity).Value.ToString("#,##0")) VNĐ</h6>
                                </div>

                            </div>
                        }
                    }
                    else
                    {
                        <p>Không có sản phẩm</p>
                    }

                    @if (Model.Cart != null)
                    {

                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">30.000 VNĐ</h6>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">@((Model.Cart.ComputeTotalValue() + 30000).ToString("#,##0")) VNĐ</h5>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">30.000 VNĐ</h6>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">0 VNĐ</h5>
                            </div>
                        </div>
                    }

                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Strip Payment</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout End -->
